<% wrap_layout :layout do %>

    <%= partial "layouts/header" %>

    <main class="container">
        <div class="grid">
            <section>
                <%= yield %>
            </section>

            <aside>
                <hgroup>
                    <h5>
                        <time datetime="<%= current_page.data.date %>">
                            <%= format_date current_page.data.date %>
                        </time>
                    </h5>
                    <h6>Filed under: <%= current_page.data.category %></h6>
                </hgroup>
            </aside>
        </div>
    </main>
<% end %>
