---
layout: layout
title: Photos
pixelfed_id: 246325637680336896
collection_id: 247764223759880192
---
<%# Use this to fetch up to 24 most recent posts %>
<% posts = fetch_pixelfed_posts current_page.data.pixelfed_id %>

<%# Use this to fetch a specific collection %>
<%# posts = fetch_pixelfed_collection current_page.data.collection_id %>

<main class="container">
    <hgroup>
        <h1><%= current_page.data.title %></h1>
        <p>Some recent posts from my <a href="https://pixelfed.social/egardner"
        target="_blank">Pixelfed feed.</a></p>
    </hgroup>

    <div class="flex-grid">
        <% posts.each_with_index do |post, index| %>

            <div class="flex-grid-item fade-in fade-in--<%= index %>">
                <% url     = post[:url] %>
                <% summary = post[:content_text] %>
                <% preview = post[:media_attachments][0][:preview_url] %>

                <a href="<%= url %>" title="<%= summary %>" target="_blank">
                    <img src="<%= preview %>" loading="lazy" />
                </a>
            </div>

        <% end %>
    </div>
</main>